body {
    margin: 0;
}

.calculator {
    background-color: whitesmoke;
}

.calculator-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container-left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    padding: 2rem;
    background-color: rgb(201, 191, 191);  
    box-shadow: 2px 2px 2px 2px rgb(117, 80, 80);
}

.calculator-container-left-main-top-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-container-left-main-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calculator-container-left-main-top-display {
    height: 3rem;
    font-size: 1.8rem;
    color:black;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 1rem;
    text-align: end;
    padding: 0.5rem;
    box-shadow: 2px 1px blanchedalmond;
}

.calculator-container-left-main-top-buttons .btn {
    padding: 1rem;
    border: none;
    background-color: aqua;
    margin: 2px;
    border-radius: 6px;
    color: black;
    font-weight:700;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow:  2px 1px rgb(196, 189, 189);
}

.calculator-container-left-main-top-buttons .btn:hover {
    background-color: rgb(71, 173, 139);
}

.calculator-container-right-top-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}